/* Custom Properties */
:root {
  --color-principal: #4f7cac; /* Azul suave */
  --color-secundario: #c0e0de; /* Tono claro */
  --color-fondo: #162521; /* Casi negro */
  --color-texto: #c0e0de; /* Texto claro sobre fondo oscuro */
  --color-acento: #9eefe5; /* Verde claro */
  --color-gris: #3c474b; /* Gris oscuro */
  --color-neutro-claro: #f5f5f5; /* Neutro claro */
  --color-neutro-oscuro: #2c3e50; /* Neutro oscuro */
  --color-dorado: #f1c40f; /* Amarillo suave */

  /*alphas*/
  --color-principal-alpha: rgba(79, 124, 172, 0.5);
  --color-secundario-alpha: rgba(192, 224, 222, 0.5);
  --color-fondo-alpha: rgba(22, 37, 33, 0.5);
  --color-texto-alpha: rgba(192, 224, 222, 0.5);
  --color-secundario-alpha: rgba(158, 239, 229, 0.7);
  --color-gris-alpha: rgba(60, 71, 75, 0.5);
  --color-neutro_claro-alpha: rgba(245, 245, 245, 0.5);
  --color-neutro_oscuro-alpha: rgba(44, 62, 80, 0.5);
  --color-dorado-alpha: rgba(241, 196, 15, 0.5);

  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-coolor: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font-primary: "Raleway", san-serif;

  --max-width: 120rem;
  --header-height: 6.4rem;
}

/* Resets*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 2;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85rem;
}
h6 {
  font-size: 0.75rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* Components */
/**Carousel*/

/* animations */
@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
}
/*****Contact Form ****/
.contact-form {
  margin: 2.4rem auto;
  padding: 1.2rem;
  max-width: 800px;
}
.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}
.contact-form input {
  border: 0;
  border-bottom: thin solid var(--gray-dark-coolor);
  padding-left: 0;
}
.contact-form textarea {
  border: thin solid var(--gray-dark-coolor);
  resize: none;
}
.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}
.contact-form *::placeholder {
  color: var(--gray-dark-coolor);
}
.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}
.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}
.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (min-width: 1024px) {
  .contact-form {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }
  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }
  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}
.carousel {
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 80vw;
  text-align: center;
  background-color: var(--carousel-bg-color);
  overflow-x: hidden;
}

.carousel .slides {
  /* se pone 100% por cada slides */
  width: 400%;
  padding-left: 0;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-slide 12s ease-in-out 3s;
}
.carousel input {
  display: none;
}

.carousel label {
  border: medium solid var(--gray-dark-coolor);
  display: inline-block;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}
#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1 {
  background-color: var(--gray-dark-coolor);
}
#slide-2:checked ~ .slides-nav label#dot-2 {
  background-color: var(--gray-dark-coolor);
}
#slide-3:checked ~ .slides-nav label#dot-3 {
  background-color: var(--gray-dark-coolor);
}
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--gray-dark-coolor);
}

/**Hero Image*/
.hero__image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: var(--hero-attachment);
}
.hero__image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero__imagen-title {
  font-size: 5vw;
  color: var(--hero-text-color);
}
.menu {
  /* display: none; */
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--color-secundario);
  bottom: var(--header-height);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--color-principal);
}
.menu a:hover {
  color: var(--white-color);
  background-color: var(--color-principal);
}

.portfolio-modal {
  background-color: var(--white-color);
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--color-principal);
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.portfolio-details b {
  color: var(--color-principal);
}

.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}
.service-card svg {
  fill: var(--color-principal);
}

.service-card h3 {
  color: var(--title-color);
}
@media screen and (min-width: 1024px) {
  .header__menu-btn {
    display: none;
  }
  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
    width: auto;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:hover {
    background-color: transparent;
  }
}

.header__menu-btn {
  outline: thin solid var(--color-principal);
  background-color: var(--color-secundario);
  border: 0;
  cursor: pointer;
}
.header__menu-btn svg {
  fill: var(--color-principal);
}

/****Modal****/

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}
.modal-content {
  position: relative;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-principal);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}
/* Barras */

progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}

.progress {
  margin: 1rem auto;
}
.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

/* Utilities */

.laser::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -100%;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--color-secundario-alpha),
    /* rgba(247, 255, 5, 0.945), */ transparent
  );
  animation: swipe 3s linear infinite;
}
@keyframes swipe {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.bg-gray-light {
  background-color: var(--gray-light-color);
}
.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-principal);
  color: var(--white-color);
}
/* .btn-reflex {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-principal);
  color: var(--white-color);
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, var(--color-dorado));
  box-shadow: 0 0 5px var(--color-principal), 0 0 15px var(--color-principal),
    0 0 25px var(--color-principal), 0 0 100px var(--color-principal);
} */
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
}
.section-title {
  border-top: thin solid var(--color-principal);
  border-bottom: thin solid var(--color-principal);
  width: 25rem;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--title-color);
}
.text-center {
  text-align: center;
}

.text-first-color {
  color: var(--color-principal);
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
}

/* Site Styles */

.about > article {
  margin-bottom: 2rem;
}
.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: #d90062;
}
.contact-card > small {
  margin-top: -1rem;
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--color-neutro-oscuro);
}
.header {
  position: fixed;
  padding: 1.6rem;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 900;
  height: var(--header-height);
  background-color: var(--color-secundario);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  font-size: 2rem;
  color: var(--color-principal);
  font-weight: bold;
  text-decoration: none;
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-fondo);
  color: var(--white-color);
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 0.7;
  pointer-events: auto;
}
.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }
  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }

  .portfolio-modal {
    flex-direction: row;
    max-width: 800px;
  }

  .portfolio-info {
    margin-left: 1rem;
    align-self: center;
  }
  .services > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }
  .services .section-title {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }
  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }
  .header {
    position: sticky;
    top: 0;
  }

  .footer {
    margin-bottom: 0;
  }
  .portfolio > .container {
    grid-template-columns: repeat(3, 33%);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }

  .services > .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .services .section-title {
    grid-column: span 3;
  }
}
